a{
	text:{decoration:none;}
}
.hide{
	display:none;
}
.show{
	display:block;
}
.center-div{
	margin:0 auto;
}
.center-absolute{
	left:0;
	right:0;
}
.no-margins {
	margin: 0;
}
.trama-md {
	//background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEqRgDDwAAAABJRU5ErkJggg==') !important;
	background-image: url('../img/bg-pattern-fino.svg') !important;
	background-repeat: repeat;
	color:$second_color;
	
}
.trama-bg-animation {
	color:#FFF;
	background: #000;
	@include transition(all .5s ease-in-out);
}	
.trama-bg-inv{
	background: #fff;
	color:#000;
	@include transition(all .5s ease-in-out);
}
