body {
	background: $primary_color;
	margin:0;
	@include pad(0);  
	font:{family:$second_font;}
	.container-All {
		color:#fff;
		@include row();	
		@include span-columns(8);	
		@include shift(2);
		@extend .center-div;
		margin:{bottom:10px !important;}
		@include media($notebook) {
			@include span-columns(8);	
			@include shift(2);	
			margin:0 auto !important;
			display: block;
			float: none;
		}
		@include media($mobileTomobileLand) {
			@include span-columns(10);
			margin:0 auto 10px !important;
			display: block;
			float: none;
		}		
		@include media($mobile) {
			@include span-columns(11.5);
			margin:0 auto 20px !important;
			display: block;
			float: none;
		}
		.logotype-mediatrends {
			@include span-columns(4);
			@include shift(4);	
			margin:{top:50px;}
			@include media($mobileTomobileLand){
				@include span-columns(6);
				@include shift(3);	
				margin:{top:20px;bottom:20px;}
				max-height: 215px;
			}	
			a {
				width: 100%;
				height: 100%;
				svg {
					width: 100%;
					height: auto;
					min-height: 125px;
					fill:#fff;
				}	
			}
			
		}
		.title-head {
			@include span-columns(12);
			h1 {
				@include pad(0 5px);
				@extend .no-margins;
				background: $second_color;
				color:$primary_color;
				display: table;
				line-height: 1.25;
				font:{size: 36px;family:$second_font;}
				@include media($mobileTomobileLand){
					font:{size:30px;}
				}	
			}
			.additional-text {
				@include pad(0 5px);
				color:$second_color;	
				display: table;
   				background:{color: #333;}
   				@include media($mobileTomobileLand){
   					font:{size:15px;}
   				}	
			}
			.line-div {
				height: 3px;
				width: 50px;
				background: $second_color;
				margin: 0.5em 0;
			}
		}
		.content-specs {
			.box-specs {
				@include span-columns(12);
				margin:{top:20px;right:0;bottom:0;left:0;}
				border: 1px solid #fff;
				.title-box {
					@include span-columns(12);	
					@include pad(15px 25px);
					cursor:pointer;
					.specs-titlebox {
						@include span-columns(11);	
						text:{transform:uppercase;}
						font:{size:16px;}
					}
					.icon-box {
						@include span-columns(1);
						@include textAligns(right);
						i {
							font:{size:16px;}
						}
					}
				}
				.contentespecs-box {
					@include span-columns(12);	
					@include pad(20px 25px);
					color:#fff;
					display: none;
					@include media($mobileTomobileLand){
						@include pad(20px 10px);
					}
					.half-box {
						@include span-columns(6);	
						@include pad(0 15px);
						@include media($tablet $mobileLand){
							@include span-columns(12);
						}	
						@include media($mobileTomobileLand){
							@include span-columns(12);
							@include pad(0);
						}
						.title-inside {
							@extend .no-margins;
							font:{family:$second_font;}
							mark {
							@include pad(0 5px);
							color:$second_color;
							background-color: #333;
							font:{size:28px;weight: 300;}	
								@include media($mobileTomobileLand){
									font:{size:20px;}	
								}	
							}
						}
						.content-text {
							margin: {bottom:10px;}
							color:$primary_color;
							font:{family:$thr_font;size:14px;}
							line-height: 1.6;
							@include media($mobileTomobileLand){
								margin: {bottom:20px;}	
								font:{size: 13px;}
							}
							p {
								@include pad(0 5px);
								@extend .no-margins;
								background-color:$second_color;
								display: table;
							}
							pre {
								@include span-columns(12);
								@extend .show;
								@include pad(9.5px);
								margin: 0 0 10px;
								background:$thr_color;
								font:{size:13px;}
    							line-height: 1.42857143;
    							color: #333;
    							word-break: break-all;
    							word-wrap: break-word; 
							}
							mark {
								@include pad(0 3px);
								background: {color:$primary_color;}
								font:{size:14px;}
								color:$second_color;
								text:{transform:uppercase;}
								@include media($mobileTomobileLand){
									font:{size: 11px;}
									text:{transform:uppercase;}
								}
							}
						}
						.image-info {
							img {
								display: block;
    							background-color: white;
							}
							.content-img {
								@include span-columns(12);
								background: #fff;
								.image-size-md {
									@include span-columns(4);
									@include shift(4);	
								}	
							}
							
						}
					}
				}
			}
		}
	}
	.div-colum	{
		@include span-columns(4);
		@include shift(2);
	}
}