body {
	background: $primary_color;
	margin:0;
	@include pad(0);  
	font:{family:$second_font;}
	.container-All {
		color:#fff;
		@include row();	
		@include outer-container(60%);
		@extend .center-div;
		margin:{bottom:10px !important;}
		@include media($tabletLandTonotebook) {
			@include outer-container(70%);
		}
		@include media($notebookTodesktop) {
			@include outer-container(70%);
		}
		@include media($mobileLandTotablet) {
			@include outer-container(80%);
		}
		@include media($mobileLand) {
			@include outer-container(90%);
		}
		@include media($mobileTomobileLand) {
			@include outer-container(95%);
		}
		.sectionMt {
			@include span-columns(12);
			.title-head {
				@include span-columns(12);
				h1 {
					@include pad(0 5px);
					@extend .no-margins;
					background: $second_color;
					color:$primary_color;
					display: table;
					line-height: 1.25;
					font:{size: 36px;family:$second_font;}
					@include media($mobileTomobileLand){
						font:{size:30px;}
					}	
				}
				.additional-text {
					@include pad(0 5px);
					color:$second_color;	
					display: table;
	   				background:{color: #333;}
	   				@include media($mobileTomobileLand){
	   					font:{size:15px;}
	   				}	
				}
				.line-div {
					height: 3px;
					width: 50px;
					background: $second_color;
					margin: 0.5em 0;
				}
			}
			&.mt-logotipe {
				.logotype-mediatrends {
					@include span-columns(4);
					@include shift(4);	
					margin:{top:50px;}
					@include media($mobileTomobileLand){
						@include span-columns(6);
						@include shift(3);	
						margin:{top:20px;bottom:20px;}
						max-height: 215px;
					}	
					a {
						width: 100%;
						height: 100%;
						svg {
							width: 100%;
							height: auto;
							min-height: 125px;
							fill:#fff;
						}	
					}	
				}
			}
			&.section-specs {
				.content-specs {
					@include span-columns(12);
					.box-specs {
						@include span-columns(12);
						margin:{top:20px;right:0;bottom:0;left:0;}
						border: 1px solid #fff;
						.title-box {
							@include span-columns(12);	
							@include pad(15px 25px);
							cursor:pointer;
							.specs-titlebox {
								@include span-columns(11);	
								text:{transform:uppercase;}
								font:{size:16px;}
							}
							.icon-box {
								@include span-columns(1);
								@include textAligns(right);
								i {
									font:{size:16px;}
								}
							}
						}
						.contentespecs-box {
							@include span-columns(12);	
							@include pad(20px 25px);
							color:#fff;
							display: none;
							@include media($mobileTomobileLand){
								@include pad(20px 10px);
							}
							.half-box {
								@include span-columns(6);	
								@include pad(0 15px);
								@include media($tablet $mobileLand){
									@include span-columns(12);
								}	
								@include media($mobileTomobileLand){
									@include span-columns(12);
									@include pad(0);
								}
								.title-inside {
									@extend .no-margins;
									font:{family:$second_font;}
									mark {
									@include pad(0 5px);
									color:$second_color;
									background-color: #333;
									font:{size:28px;weight: 300;}	
										@include media($mobileTomobileLand){
											font:{size:20px;}	
										}	
									}
								}
								.content-text {
									margin: {bottom:10px;}
									color:$primary_color;
									font:{family:$thr_font;size:14px;}
									line-height: 1.6;
									@include media($mobileTomobileLand){
										margin: {bottom:20px;}	
										font:{size: 13px;}
									}
									p {
										@include pad(0 5px);
										@extend .no-margins;
										background-color:$second_color;
										display: table;
									}
									pre {
										@include span-columns(12);
										@extend .show;
										@include pad(9.5px);
										margin: 0 0 10px;
										background:$thr_color;
										font:{size:13px;}
		    							line-height: 1.42857143;
		    							color: #333;
		    							word-break: break-all;
		    							word-wrap: break-word; 
									}
									mark {
										@include pad(0 3px);
										background: {color:$primary_color;}
										font:{size:14px;}
										color:$second_color;
										text:{transform:uppercase;}
										@include media($mobileTomobileLand){
											font:{size: 11px;}
											text:{transform:uppercase;}
										}
									}
								}
								.image-info {
									img {
										display: block;
		    							background-color: white;
									}
									.content-img {
										@include span-columns(12);
										background: #fff;
										.image-size-md {
											@include span-columns(4);
											@include shift(4);	
										}	
									}
									
								}
							}
						}
					}
				}	
			}
			&.section-contact {
				@include span-columns(12);
				padding: 150px 0;
				@include media($mobileTomobileLand) {
			    	padding:{bottom:0;};
			    }
				mark {
					@include pad(0 5px);
					@extend .no-margins;
					background: $second_color;
					color:$primary_color;
					line-height: 1.25;
					font:{size: 36px;family:$second_font;weight:bold;}
					@include media($mobileTomobileLand) {
						font:{size:em(30);}
					}	
				}
				.title-head {
					float: none;
				}
				.info-contacto{
					@include span-columns(9);
					text:{align:left;}
					margin:{top:5px;bottom:40px;}
					@include media($tabletLandTonotebook) {
						@include span-columns(12);
					}
					@include media($tablet) {
				    	@include span-columns(12);
				    }
				    @include media($mobileTomobileLand) {
				    	@include span-columns(12);
				    }
					mark {
						font:{size:em(16)};
						@include media($mobileLandTotablet) {
					    	font:{size:em(14)};
					    }
					    @include media($mobileLand) {
					    	font:{size:em(12)};
					    }
					    @include media($mobileTomobileLand) {
					    	font:{size:em(12)};
					    }
					}
				}
				.form-contact {
					font:{family:$second_font;}
					@include outer-container(65%);
					padding:{top:40px;bottom:20px;}
					@include media($tabletLandTonotebook) {
						@include outer-container(70%);
					}
					@include media($tablet) {
				    	@include outer-container(75%);
				    }
				    @include media($mobileLandTotablet) {
				    	@include outer-container(100%);
				    }
				    @include media($mobileLand) {
				    	@include outer-container(100%);
				    }
				    @include media($mobileTomobileLand) {
				    	@include outer-container(100%);
				    }
					.label-form {
						@include pad(3px 5px);
						color:$second_color;	
						display: table;
		   				background:{color: #333;}
		   				clear: both;
		   				text:{transform:uppercase;}
		   				font:{size:em(13);}
		   				@include media($mobileTomobileLand){
		   					font:{size:15px;}
		   				}
		   				@include media($mobileTomobileLand) {
					    	font:{size:em(11);} 
					    }
					}
					.bg-input {
						@include span-columns(12);
						background: none;
						border:1px solid #fff;
						height: 45px;
						color:#fff;
						font:{size:em(14)};
						padding: 3px 20px;
						outline: none;
						margin:{bottom:20px;}
						border:{radius:0 !important;}
						@include media($tabletLandTonotebook) {
							height: 40px;
						}
						@include media($mobileTomobileLand) {
					    	height: 35px;
					    	margin:{bottom:15px;}
					    }
						&.bg-mensaje {
							height: inherit;
							padding: 10px 20px;
							@include media($mobileTomobileLand) {
						    	padding:5px;
						    }
						}
					}
					select {
						-webkit-appearance: none;
						-webkit-border-radius: 0px;
					}
				}
			}	
		}
		.social-recomendation {
			@include span-columns(1.5);
			float:right;
			position: fixed;
			right:20px;
			top:20px;
			opacity: 0;
			@include media($tabletLandTonotebook) {
				@include span-columns(3);
			}
			@include media($mobileTomobileLand) {
			    @include span-columns(6);
			}
			@include media($tablet) {
		    	@include span-columns(4);
		    }
		    @include media($mobileLand) {
		    	@include span-columns(6);
		    }
		    @include media($mobileTomobileLand) {
		    	@include span-columns(12);
		    	position:initial;
		    }
			.title-head {
				@include span-columns(12);
				text:{align:right;}
				mark {
					@include pad(0 5px);
					@extend .no-margins;
					background: $second_color;
					color:$primary_color;
					line-height: 1.25;
					font:{size:em(15);family:$second_font;}
					text:{align:right;}
					@include media($tabletLandTonotebook) {
						float: right;
						clear: both;
					}
					@include media($notebookTodesktop) {
						float: right;
						clear: both;
					}
					@include media($mobileLandTotablet) {
						float: right;
						clear: both;
					}
					@include media($mobileLand) {
						float: right;
						clear: both;
					}
					@include media($mobileTomobileLand) {
						display: table;
						margin: 0 auto;
						clear: both;
					}
				}
				.additional-text {
					@include pad(0 5px);
					color:$second_color;	
					display:inline-block;
	   				background:{color: #333;}
	   				text:{align:right;}
	   				font:{size:em(13);family:$second_font;}
	   				float: right;	
	   				@include media($mobileTomobileLand) {
						text-align: center;
    					display: table;
						clear: both;
						margin: 0 auto;
						float: none; 
					}
				}
				.line-div {
					text:{align:right;}
					height: 3px;
					width: 50px;
					background: $second_color;
					margin: 0.5em 0;
				}
			}
			.social-rrss {
				@include span-columns(12);
				text:{align:center};
				ul {
					@include span-columns(8);
					margin:{top:10px;right:0;bottom:0;left:0;}
					@include pad(0);
					float: right;
					text:{align: right;}
					@include media($tabletLandTonotebook) {
						margin:{top:8px;}
					}
					@include media($mobileTomobileLand) {
						margin:{top:10px;}
						@include span-columns(12);
						text:{align:center;}
					}
					li {
						text:{align:center;}
						height: 40px;
						width: 40px;
						border:{radius:50%;}
						list-style: none;
						color:#000;
						display: inline-block;
						margin:{right:5px;}
						background: #fff;
						@include media($tabletLandTonotebook) {
							height: 30px;
							width: 30px;
						}
						@extend .trama-md;
						@include media($mobileTomobileLand) {
						    background: #fff !important;
						   	margin:{right:10px;} 
						   	height: 35px;
							width: 35px;
						}
						a {
							width: 100%;
							height: 100%;
							display: table;
							color:#000;
							font:{size:em(22)};
							@include media($tabletLandTonotebook) {
								font:{size:em(17)};
							}
							@include media($mobileTomobileLand) {
							    font:{size:em(24)};
							}
							i {
								display:table-cell;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}
	.div-colum	{
		@include span-columns(4);
		@include shift(2);

	}
}