@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext'); 
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); 
@import url('https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900');


@import 'partials/variables';
@import 'partials/classes';
@import 'partials/landing';